@import "tailwindcss";


:root {
  --background: #0a0a0a;
  --background1: #E3D7C5;
  --background2: #4B2E2B;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-background1: var(--background1);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inria-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #0a0a0a;
  --background1: #E3D7C5;
  --background2: #4B2E2B;
  --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.inria-text {
  font-family: "Inria Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.inria-text-small {
  font-family: "Inria Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.inria-heading {
  font-family: "Inria Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0;
}

.inria-heading2 {
  font-family: "Inria Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;

}

.inria-heading2-bold {
  font-family: "Inria Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
}

.inter-text {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.inter-heading {
  font-family: "inter";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.poppins-heading {
  font-family: "Poppins";
  font-weight: 600;
  font-style: semi-bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.poppins-heading2 {
  font-family: "Poppins";
  font-weight: 600;
  font-style: semi-bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.poppins-text {
  font-family: "Poppins";
  font-weight: 500;
  font-style: medium;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0%;
}



.mouuse-pointer:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
  @apply scale-105 transition duration-300 ease-in-out;

}
