@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400&display=swap');
@import "tailwindcss";


:root {
  --background: #0a0a0a;
  --background1: #E3D7C5;
  --background2: #4B2E2B;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-background1: var(--background1);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inria-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #0a0a0a;
  --background1: #E3D7C5;
  --background2: #4B2E2B;
  --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.inria-text {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

