.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  align-items: center;
  gap: 1rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 250px;
  scroll-snap-align: center;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.spacer {
  flex: 0 0 50%;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(15, 23, 43);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 10;
}

.btn:hover {
  opacity: 1;
}

.prev {
  left: -2rem;
}

.next {
  right: -2rem;
}
